{{- define "main" -}}
  <main class="blog-list-wrapper">
    <div class="container">
      <section class="blog-header">
        <div class="blog-header--sticky">
          <h1 class="blog-header--title">{{ .Params.headline | default .Title }}</h1>
          <p class="blog-header--description">
            {{- if .Summary -}}
              {{ .Summary }}
            {{- else -}}
              {{ .Params.textline }}
            {{- end -}}
          </p>
          {{- if not .Params.hideSignup -}}
          <!-- Add sidebar widgets here-->
          {{- end -}}
        </div>
      </section>
      <section class="section section-blog-list">
        {{- range where .Paginator.Pages "Params.featured" "eq" true -}}
          {{ .Render "summary" }}
        {{- end -}}
        {{- range where .Paginator.Pages "Params.featured" "ne" true -}}
          {{ .Render "summary" }}
        {{- end -}}
        {{- partial "components/pagination/paginator" . -}}
      </section>
    </div>
  </main>

  {{- partial "components/cta/basic" .Params.cta -}}
{{- end -}}
